*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gainsboro !important;
}

header{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 3px gray;
    padding: 19px;
}

h1{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.grid{
    margin-top: 20px;
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i";
    justify-content: center;
    align-items: center;   
}

#AA{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#AB{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#AC{
    border-bottom: 1px solid black;
}

#BA{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#BB{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#BC{
    border-bottom: 1px solid black;
}

#CA{
    border-right: 1px solid black;
}

#CB{
    border-right: 1px solid black;
}

.grid div{
    height: 180px;
    width: 180px;
    font-size: 80px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.grid div:hover{
    background-color: rgb(255, 255, 255);
}